@font-face {
  font-family: "Manrope", sans-serif;
  src: url("/css/fonts/bold.otf");
  src: url("/css/fonts/fonts/bold.woff");
  src: url("/css/fonts/fonts/bold.woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Manrope", sans-serif;
  src: url("/css/fonts/thin.otf");
  src: url("/css/fonts/thin.woff");
  src: url("/css/fonts/thin.woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Anglecia Pro Display", serif;
  src: url("/css/fonts/ANGLECIAPRODISPLAYBOLDITALIC.OTF");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Anglecia Pro Display", serif;
  src: url("/css/fonts/ANGLECIAPRODISPLAYREGULAR.OTF");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-width: 320px;
  background-color: #e5f2f6;
}

.header {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.20;
  background-position: bottom center;
  background-repeat: no-repeat;
  bottom: 0;
  z-index: -1;
}

.logo_header {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header_name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 100;
  color: #262525;
}

.button {
  background-color: #59314f;
  border: none;
  text-transform: uppercase;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #e5e5e5;
  text-decoration: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.button:hover {
  background-color: #2f4f4f;
  border: none;
}

.button:focus {
  background-color: #2f4f4f;
  border: 2px solid #ffffff;
}

@media (min-width: 1441px) and (max-width: 1920px), (min-width: 1921px) {
  .header_name {
    font-size: 5.729vmax;
    margin-top: 13vmax;
    margin-bottom: 11vmax;
    line-height: 1em;
    width: 78vmax;
    margin-left: auto;
    margin-right: auto;
  }

  .second_line {
    display: block;
    padding-left: 22vmax;
  }

  .logo_header {
    width: 3%;
    height: 4%;
  }

  .header {
    background-image: url("../img/bg%20header_1920.jpg");
    width: 100%;
    padding-top: 2%;
    padding-bottom: 4%;
    max-width: 1920px;
    opacity: 0.90;
  }

  .header::after {
    background-image: url("../img/photo_header_1920.png"); 
  }
  
   .button {
    width: 19vmax;
    height: 4vmax;
    box-shadow: 0 0 7px 2px #262525;
    font-size: 1.7vmax;
    letter-spacing: 0.1vmax;
    padding: 0.5vmax 0.8vmax;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .header_name {
    font-size: 6.8vmax;
    line-height: 1em;
    margin-top: 17vmax;
    margin-bottom: 37vmax;
    width: 78vmax;
  }

  .second_line {
    display: block;
    text-align: center;
  }
  
  .logo_header {
    width: 3%;
    height: 4%;
  }
  
  .header {
    background-image: url("../img/bg%20header_1920.jpg");
    width: 100%;
    max-width: 1440px;
    padding-top: 2%;
    padding-bottom: 4%;
  }
  
  .header::after {
    background-image: url("../img/photo_header_1200.png"); 
  }
  
  .button {
    width: 19vmax;
    height: 4vmax;
    box-shadow: 0 0 7px 2px #262525;
    font-size: 2.08vmax;
    letter-spacing: 0.1vmax;
    padding: 0.5vmax 0.8vmax;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .header_name {
    font-size: 6.8vmin;
    line-height: 1em;
    margin-top: 9vmin;
    margin-bottom: 15vmin;
    width: 78vmin;
  }

  .second_line {
    display: block;
    text-align: center;
  }
  
  .logo_header {
    width: 3%;
    height: 4%;
  }
  
  .header {
    background-image: url("../img/bg%20header_1200.jpg");
    width: 100%;
    max-width: 1024px;
    padding-top: 2%;
    padding-bottom: 4%;
  }
  
  .header::after {
    background-image: url("../img/photo_header_960.png"); 
  }
  
  .button {
    width: 18.1vmin;
    height: 6vmin;
    box-shadow: 0 0 5px 1px #262525;
    font-size: 1.7vmin;
    letter-spacing: 0.1vmin;
    padding: 0.5vmin 0.8vmin;
  }
}

@media (min-width: 321px) and (max-width: 640px) {
  .header_name {
    font-size: 6vmin;
    line-height: 1em;
    margin-top: 7.5vmin;
    margin-bottom: 18vmin;
    width: 78vmin;
  }

  .second_line {
    display: block;
    text-align: center;
  }
  
  .logo_header {
    width: 3%;
    height: 4%;
  }
  
  .header {
    background-image: url("../img/bg%20for%20footer_640.jpg");
    width: 100%;
    max-width: 640px;
    padding-top: 2%;
    padding-bottom: 4%;
  }
  
 .header::after {
    background-image: url("../img/photo_header_640.png"); 
  }
  
  .button {
    width: 18.75vmin;
    height: 5.4vmin;
    padding: 0.5vmin 0.8vmin;
    box-shadow: 0 0 5px 1px #262525;
    font-size: 1.6vmin;
    letter-spacing: 0.1vmin;
  }
}

@media (max-width: 320px) {
  .header_name {
    font-size: 7.8vmin;
    line-height: 1em;
    margin-top: 11vmin;
    margin-bottom: 25vmin;
    width: 78vmin;
  }

  .second_line {
    display: block;
    text-align: center;
  }
  
  .logo_header {
    width: 4%;
    height: 5%;
  }
  
  .header {
    background-image: url("../img/bg%20for%20footer_320.jpg");
    width: 100%;
    max-width: 320px;
    padding-top: 2%;
    padding-bottom: 4%;
  }
  
  .header::after {
    background-image: url("../img/photo_header_320.png"); 
  }
  
  .button {
    width: 30vmin;
    height: 7vmin;
    box-shadow: 0 0 5px 1px #262525;
    padding: 0.5vmin 0.8vmin;
    font-size: 2.5vmin;
    letter-spacing: 0.1vmin;
  }
}

.casual, .special {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.casual_left, .casual_right {
  width: 49.5%;
}

.special_left, .special_right {
  width: 49.5%;
}

.casual_header, .special_header {
  font-family: "Anglecia Pro Display", serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  color: #262525;
  display: block;  
}

.order_casual, .order_special {
  background-color: #59314f;
  border: none;
  text-transform: uppercase;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  color: #e5e5e5;
  display: block;
}

.order_casual:hover, .order_special:hover {
  background-color: #2f4f4f;
  border: none;
}

.order_casual:focus, .order_special:focus, .button:focus {
  background-color: #2f4f4f;
  border: 2px solid #ffffff;
}

.casual_collection, .special_collection {
  text-transform: uppercase;
  color: #262525;
  font-weight: bold;
  display: block;
}

.square_casual, .square_special {
  background-color: #bbb5bf;
}

@media (min-width: 1441px) and (max-width: 1920px), (min-width: 1921px) {
  .casual {
    width: 100%;
    max-width: 1920px;
    min-height: 72vmax;
    padding: 5vmax;
  }
  
  .special {
    width: 100%;
    max-width: 1920px;
    min-height: 72vmax;
    padding: 5vmax;
  }
  
  .casual_header {
    font-size: 13vmax;
    margin-top: -1vmax;
    margin-left: 4vmax;
    z-index: 1;
  }
  
  .special_header {
    font-size: 13vmax;
    margin-top: 1vmax;
    margin-left: -14vmax;
    z-index: 1;
  }
  
  .square_casual {
    height: 51vmax;
    width: 28vmax;
    margin-left: 1vmax;
    margin-top: 5vmax;
  }
  
  .square_special {
    height: 58vmax;
    width: 28vmax;
    margin-left: 12vmax;
    margin-top: 2vmax;
  }
  
  .hat_casual {
    margin-top: 21vmax;
    margin-left: -7vmax;
  }
  
  .hat_special {
    margin-top: 9vmax;
    margin-left: -5vmax;
  }
  
  .order_casual {
    width: 23vmax;
    height: 9.5vmax;
    margin-left: 7vmax;
    margin-top: 0;
    box-shadow: 0 0 7px 2px #262525;
    font-size: 2.6vmax;
  }
  
  .order_special {
    width: 23vmax;
    height: 9.5vmax;
    margin-left: 6vmax;
    margin-top: 0;
    box-shadow: 0 0 7px 2px #262525;
    font-size: 2.6vmax;
  }
  
  .casual_left {
    margin-top: 24vmax;
  }
  
  .casual_collection {
    font-size: 2.35vmax;
    margin-left: 6vmax;
    letter-spacing: 0.13vmax;
  }
  
  .special_collection {
    font-size: 2.35vmax;
    letter-spacing: 0.13vmax;
    margin-left: 6vmax;
    margin-top: 17vmax;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .casual {
    width: 100%;
    max-width: 1440px;
    min-height: 115vmax;
    padding: 10vmax;
  }
  
  .special {
    width: 100%;
    max-width: 1440px;
    min-height: 115vmax;
    padding: 10vmax;
  }
  
  .casual h2 {
    font-size: 14.9vmax;
    top: 39vmax;
    left: 6vmax;
    z-index: 1;
  }
  
  .special h2 {
    font-size: 14.9vmax;
    top: 34vmax;
    left: 44vmax;
    z-index: 1;
  }
  
  .square_casual {
    height: 81vmax;
    width: 43vmax;
    left: 52vmax;
    top: 16vmax;
  }
  
  .square_special {
    height: 81vmax;
    width: 43vmax;
    left: 10vmax;
    top: 4vmax;
  }
  
  .hat_casual {
    left: 44vmax;
    top: 36vmax;
  }
  
  .hat_special {
    left: 3vmax;
    top: 22vmax;
  }
  
  .order_casual {
    width: 29vmax;
    height: 11vmax;
    left: 12vmax;
    top: 57vmax;
    box-shadow: 0 0 7px 2px #262525;
  }
  
  .order_special {
    width: 29vmax;
    height: 11vmax;
    left: 57vmax;
    top: 54vmax;
    box-shadow: 0 0 7px 2px #262525;
}
  
  .order_casual a, .order_special a {
    font-size: 3.5vmax;
  }
  
  .casual_collection {
    font-size: 3.56vmax;
    top: 35.5vmax;
    left: 12vmax;
    letter-spacing: 0.13vmax;
  }
  
  .special_collection {
    font-size: 3.56vmax;
    letter-spacing: 0.13vmax;
    left: 54vmax;
    top: 32vmax;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .casual {
    width: 100%;
    max-width: 1024px;
    min-height: 59vmin;
    padding: 5vmin;
  }
  
  .special {
    width: 100%;
    max-width: 1024px;
    min-height: 59vmin;
    padding: 5vmin;
  }
  
  .casual h2 {
    font-size: 8.3vmin;
    top: 24vmin;
    left: 42vmin;
    z-index: 1;
  }
  
  .special h2 {
    font-size: 8.3vmin;
    top: 14vmin;
    left: 35vmin;
    z-index: 1;
  }
  
  .square_casual {
    height: 51vmin;
    width: 32vmin;
    left: 66vmin;
    top: 5vmin;
  }
  
  .square_special {
    height: 51vmin;
    width: 32vmin;
    left: 7vmin;
    top: -10vmin;
  }
  
  .hat_casual {
    width: 45%;
    left: 58vmin;
    top: 17vmin;
  }
  
  .hat_special {
    width: 30%;
    left: 8vmin;
    top: -2vmin;
  }
  
  .order_casual {
    width: 21vmin;
    height: 8vmin;
    left: 71vmin;
    top: 59vmin;
    box-shadow: 0 0 7px 2px #262525;
  }
  
  .order_special {
    width: 21vmin;
    height: 8vmin;
    left: 13vmin;
    top: 44vmin;
    box-shadow: 0 0 7px 2px #262525;
    z-index: 1;
   
}
  
  .order_casual a, .order_special a {
    font-size: 3vmin;
  }
  
  .casual_collection {
    font-size: 2vmin;
    top: 22vmin;
    left: 44vmin;
    letter-spacing: 0.13vmin;
    z-index: 1;
  }
  
  .special_collection {
    font-size: 2vmin;
    letter-spacing: 0.13vmin;
    left: 41vmin;
    top: 12vmin;
    z-index: 1;
  }
}

@media (min-width: 321px) and (max-width: 640px) {
  .casual {
    width: 100%;
    max-width: 640px;
    min-height: 75vmin;
    padding: 5vmin;
  }
  
  .special {
    width: 100%;
    max-width: 640px;
    min-height: 75vmin;
    padding: 5vmin;
  }
  
  .casual h2 {
    font-size: 9.4vmin;
    top: 30vmin;
    left: 26vmin;
    z-index: 1;
  }
  
  .special h2 {
    font-size: 9.4vmin;
    top: 23vmin;
    left: 48vmin;
    z-index: 1;
  }
  
  .square_casual {
    height: 60vmin;
    width: 32vmin;
    left: 58vmin;
    top: 4vmin;
  }
  
  .square_special {
    height: 60vmin;
    width: 33vmin;
    left: 13vmin;
    top: -3vmin;
  }
  
  .hat_casual {
    left: 56vmin;
    top: 21vmin;
  }
  
  .hat_special {
    left: 14vmin;
    top: 6vmin;
  }
  
  .order_casual {
    width: 22vmin;
    height: 10vmin;
    left: 63vmin;
    top: 67vmin;
    box-shadow: 0 0 7px 2px #262525;
  }
  
  .order_special {
    width: 22vmin;
    height: 10vmin;
    left: 18vmin;
    top: 61vmin;
    box-shadow: 0 0 7px 2px #262525;
}
  
  .order_casual a, .order_special a {
    font-size: 2.7vmin;
  }
  
  .casual_collection {
    font-size: 2.5vmin;
    top: 27vmin;
    left: 28.5vmin;
    letter-spacing: 0.13vmin;
  }
  
  .special_collection {
    font-size: 2.5vmin;
    letter-spacing: 0.13vmin;
    left: 53vmin;
    top: 21vmin;
  }
}

@media (max-width: 320px) {
  .casual {
    width: 100%;
    max-width: 320px;
    min-height: 124vmin;
    padding: 10vmin;
  }
  
  .special {
    width: 100%;
    max-width: 320px;
    min-height: 124vmin;
    padding: 10vmin;
  }
  
  .casual h2 {
    font-size: 12vmin;
    top: 50vmin;
    left: 19vmin;
    z-index: 1;
  }
  
  .special h2 {
    font-size: 12vmin;
    top: 54vmin;
    left: 39vmin;
    z-index: 1;
  }
  
  .square_casual {
    height: 68vmin;
    width: 34vmin;
    left: 56vmin;
    top: 19vmin;
  }
  
  .square_special {
    height: 82vmin;
    width: 38vmin;
    left: 3vmin;
    top: 0vmin;
  }
  
  .hat_casual {
    left: 50vmin;
    top: 42vmin;
  }
  
  .hat_special {
    left: 6vmin;
    top: 25vmin;
  }
  
  .order_casual {
    width: 36vmin;
    height: 16vmin;
    left: 55vmin;
    top: 89vmin;
    box-shadow: 0 0 7px 2px #262525;
  }
  
  .order_special {
    width: 36vmin;
    height: 16vmin;
    left: 11vmin;
    top: 85vmin;
    box-shadow: 0 0 7px 2px #262525;
}
  
  .order_casual a, .order_special a {
    font-size: 4.5vmin;
  }
  
  .casual_collection {
    font-size: 3.7vmin;
    top: 43vmin;
    left: 19vmin;
    letter-spacing: 0.20vmin;
    z-index: 1;
  }
  
  .special_collection {
    font-size: 3.7vmin;
    letter-spacing: 0.20vmin;
    left: 41vmin;
    top: 48vmin;
    z-index: 1;
  }
}

.footer {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.20;
  background-position: bottom center;
  background-repeat: no-repeat;
  bottom: 0;
  z-index: -1;
}

.logo_footer {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer_form_background {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 3vmax;
  box-sizing: border-box;
}

.footer_form {
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

.footer_form_background .name, .footer_form_background .email {
  text-transform: uppercase;
  color: #262525;
  text-align: left;
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

.footer_form_background .footer_button {
  background-color: #59314f;
  color: #e5e5e5;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
}

.footer_form_background .footer_button:hover {
  background: #2f4f4f;
}

.footer_form_background .footer_button:focus {
  background-color: #2f4f4f;
  border: 2px solid #ffffff;
}

@media (min-width: 1441px) and (max-width: 1920px), (min-width: 1921px) {
  .logo_footer {
    width: 3%;
    height: 4%;
  }

  .footer {
    background-image: url("../img/bg%20for%20footer_1920.jpg");
    background-size: cover;
    width: 100%;
    max-width: 1920px;
    padding: 5vmax;
    opacity: 0.90;
  }
  
  .footer::after {
    background-image: url("../img/hat%20footer_1920.png"); 
  }
  
  .footer_form_background {
    margin-top: 10vmax;
    margin-bottom: 10vmax;
  }
  
  .footer_form {
    padding: 2vmax;
  }
  
  .footer_form_background .name {
    font-size: 0.729vmax;
    width: 19vmax;
    line-height: 5.5em;
    padding: 0.5vmax;
  }
  
  .footer_form_background .email {
    font-size: 0.729vmax;
    width: 19vmax;
    line-height: 5.5em;
    padding: 0.5vmax;
  }
  
  .footer_form_background .footer_button {
    font-size: 1.35vmax;
    width: 19vmax;
    line-height: 3em;
    letter-spacing: 0.06vmax;
    padding: 0.5vmax;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .logo_footer {
    width: 3%;
    height: 4%;
    padding-bottom: 2%;
    padding-top: 48%;
  }

  .footer {
    background-image: url("../img/bg%20for%20footer_1200.jpg");
    background-size: cover;
    width: 100%;
    max-width: 1440px;
  }
  
  .footer::after {
    background-image: url("../img/hat%20footer_1200.png"); 
  }
  
  .footer_form_background .name {
    font-size: 0.729vmax;
    width: 17vmax;
    line-height: 5em;
    top: 23vmax;
    left: 19vmax;
  }
  
  .footer_form_background .email {
    font-size: 0.729vmax;
    width: 17vmax;
    line-height: 5em;
    top: 23vmax;
    left: 37vmax;
  }
  
  .footer_form_background .footer_button {
    font-size: 0.729vmax;
    left: 55vmax;
    top: 23vmax;
    width: 17vmax;
    line-height: 5em;
    letter-spacing: 0.06vmax;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .logo_footer {
    width: 3%;
    height: 4%;
    padding-bottom: 2%;
    padding-top: 48%;
  }

  .footer {
    background-image: url("../img/bg%20for%20footer_960.jpg");
    background-size: cover;
    width: 100%;
    max-width: 1024px;
  }
  
  .footer::after {
    background-image: url("../img/hat%20footer_960.png"); 
  }
  
  .footer_form_background .name {
    font-size: 1.25vmin;
    width: 17vmin;
    line-height: 3em;
    top: 23vmin;
    left: 19vmin;
  }
  
  .footer_form_background .email {
    font-size: 1.25vmin;
    width: 17vmin;
    line-height: 3em;
    top: 23vmin;
    left: 37vmin;
  }
  
  .footer_form_background .footer_button {
    font-size: 1.25vmin;
    left: 55vmin;
    top: 23vmin;
    width: 17vmin;
    line-height: 3em;
    letter-spacing: 0.06vmin;
  }
}

@media (min-width: 321px) and (max-width: 640px) {
  .logo_footer {
    width: 3%;
    height: 4%;
    padding-bottom: 2%;
    padding-top: 48%;
  }

  .footer {
    background-image: url("../img/bg%20for%20footer_640.jpg");
    background-size: cover;
    width: 100%;
    max-width: 640px;
  }
  
  .footer::after {
    background-image: url("../img/hat%20footer_640.png"); 
  }
  
  .footer_form_background .name {
    font-size: 1.25vmin;
    width: 17vmin;
    line-height: 3em;
    top: 23vmin;
    left: 19vmin;
  }
  
  .footer_form_background .email {
    font-size: 1.25vmin;
    width: 17vmin;
    line-height: 3em;
    top: 23vmin;
    left: 37vmin;
  }
  
  .footer_form_background .footer_button {
    font-size: 1.25vmin;
    left: 55vmin;
    top: 23vmin;
    width: 17vmin;
    line-height: 3em;
    letter-spacing: 0.06vmin;
  }
}

@media (max-width: 320px) {
  .logo_footer {
    width: 3%;
    height: 4%;
    padding-bottom: 2%;
    padding-top: 48%;
  }

  .footer {
    background-image: url("../img/bg%20for%20footer_320.jpg");
    background-size: cover;
    width: 100%;
    max-width: 320px;
  }
  
  .footer::after {
    background-image: url("../img/hat%20footer_320.png"); 
  }
  
  .footer_form_background .name {
    font-size: 1.25vmin;
    width: 25vmin;
    line-height: 3em;
    top: 21vmin;
    left: 10vmin;
  }
  
  .footer_form_background .email {
    font-size: 1.25vmin;
    width: 25vmin;
    line-height: 3em;
    top: 21vmin;
    left: 36vmin;
  }
  
  .footer_form_background .footer_button {
    font-size: 1.25vmin;
    left: 63vmin;
    top: 21vmin;
    width: 25vmin;
    line-height: 3em;
    letter-spacing: 0.06vmin;
  }
}
  
